.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-3d {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 164, 164, 0.5);
  min-width: 30%;
  min-height: 30%;
}

.approve_payment {
  color: rgb(13, 214, 13);
  cursor: pointer;
}

.delete {
  color: red;
  cursor: pointer;
}
